# Directories
**/bin/
**/obj/
**/out/
**/Logs/

# Files
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile
docker-compose*.yml

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Testing
*.Tests/

# Documentation
README.md
*.md
